<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="Log4net" type="Enterprise.Log4net.Config.Log4netConfigurationSectionHandler, Enterprise.Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--数据库连接-->
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=.\sql2008r2;Initial Catalog=gasdb6;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="Enterprise" connectionString="metadata=res://*/HNLH.csdl|res://*/HNLH.ssdl|res://*/HNLH.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008r2;Initial Catalog=gasdb6;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EnterpriseLog" connectionString="metadata=res://*/HNLH.csdl|res://*/HNLH.ssdl|res://*/HNLH.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008r2;Initial Catalog=gasdblog;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <appSettings>
    <!--上传文件路径-->
    <add key="上传文件路径" value="~/upload/" />
    <!--数据库连接类型: 0 一直连接,1 即连即断-->
    <add key="CONNECT_FLG" value="0" />
    <!--自动关闭等待的时间，单位：毫秒 默认为2000CommandTimeout-->
    <add key="CommandTimeout" value="2000" />
    <!--邮件发送人姓名-->
    <add key="Email_Name" value="河南禄恒" />
    <!--邮件发送信箱-->
    <add key="Email_From" value="henanluheng@163.com" />
    <!--邮件Stmp地址-->
    <add key="Email_Stmp" value="smtp.163.com" />
    <!--邮件Stmp端口号-->
    <add key="Email_Port" value="25" />
    <!--发送人邮箱密码-->
    <add key="Email_Password" value="" />
    <!--邮箱发送频率-->
    <add key="Email_rate" value="3000" />
    <!--发送邮件附件位置-->
    <add key="SMS_Path" value="~/upload/" />
  </appSettings>
  <!--日志记录配置-->
  <Log4net debug="true">
    <appender name="Console" type="Enterprise.Log4net.Appender.ConsoleAppender">
      <target value="Console.Error" />
      <layout type="Enterprise.Log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %5l (%F:%L) - %m%n" />
      </layout>
    </appender>
    <appender name="SystemRollingFile" type="Enterprise.Log4net.Appender.RollingFileAppender,Enterprise.Log4net">
      <file value="Log/system" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="100" />
      <rollingStyle value="Date" />
      <encoding value="UTF-8" />
      <layout type="Enterprise.Log4net.Layout.PatternLayout">
        <conversionPattern value="%-30d{yyyy/MM/dd zzz HH:mm:ss} [%t] %-5l %l [%ndc] - %m %e %n" />
      </layout>
    </appender>
    <appender name="BusinessRollingFile" type="Enterprise.Log4net.Appender.RollingFileAppender,Enterprise.Log4net">
      <file value="Log/business" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="100" />
      <rollingStyle value="Date" />
      <encoding value="UTF-8" />
      <layout type="Enterprise.Log4net.Layout.PatternLayout">
        <conversionPattern value="%-30d{yyyy/MM/dd HH:mm:ss} %m %n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="Console" />
      <appender-ref ref="SystemRollingFile" />
    </root>
    <logger name="BusinessLogger">
      <level value="INFO" />
      <appender-ref ref="BusinessRollingFile" />
    </logger>
  </Log4net>
  <FineUI EnableBigFont="true" DebugMode="true" Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="Neptune" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" />
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="loginname" loginUrl="~/login.html" defaultUrl="~/default.aspx"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
      <add verb="GET" path="ChartResource/*" type="Enterprise.Charts.ChartHttpHandler, Enterprise.Charts, Version=2.0.0.0, Culture=neutral" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </modules>
    <handlers>
      <add name="ResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" />
      <add name="ChartHttpHandler" verb="GET" path="ChartResource/*" type="Enterprise.Charts.ChartHttpHandler, Enterprise.Charts" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FineUI" publicKeyToken="0ff1835d01c384a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.2.0" newVersion="8.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>